body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.hero {
  background-image: url("../images/the-flatiron-building.jpg");
  background-size: cover;
  background-position: center center;
}

.btn {
  color: white;
  font-size: 18px;
}

.h3-with-image {
  color: white;
  background-image: url("../images/the-flatiron-building.jpg");
  background-size: cover;
  background-position: center center;
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
